.vuuStatus-container {
  display: flex;
  width: max-content;
  padding: var(--vuuStatus-container-padding, 5px);
  font-size: var(--uitk-text-fontSize);
  cursor: default;
}

.vuuStatus {
  --vuu-icon-height: 18px;
  --vuu-icon-min-width: var(--vuuStatus-min-width, 28px);
  height: var(--vuu-icon-height);
  min-width: var(--vuu-icon-min-width);
  position: relative;
}

.vuuStatus[data-icon]::after {
  inset: 0 0 0 0;
  mask: var(--vuu-icon-svg) center center/20px 20px no-repeat;
  -webkit-mask: var(--vuu-icon-svg) center center/20px 20px no-repeat;
}

.vuuActiveStatus::after {
  --vuu-icon-svg: var(--svg-circle-tick);
  --vuu-icon-color: var(--uitk-status-success-foreground);
}

.vuuConnectingStatus::after {
  --vuu-icon-svg: var(--svg-triangle-warning);
  --vuu-icon-color: var(--uitk-status-warning-foreground);
}

.vuuDisconnectedStatus::after {
  --vuu-icon-svg: var(--svg-cross);
  --vuu-icon-color: var(--uitk-status-error-foreground);
}